html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    font-size: 14px;
    letter-spacing: 0.04em;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}