<div class="backdrop is-hidden" data-about-modal>
  <div class="about-modal">
    <button
      class="about-modal__btn"
      type="button"
      data-about-modal-close
    ></button>
    <h2 class="about-modal__title">how is ice cream made?</h2>

    <p class="about-modal__description">
      Commercial ice cream is made with six steps:
    </p>
    <ol class="about-modal__list">
      <li class="about-modal__item">
        Milk, cream, milk solids, sugars, modifying agents and flavourings are
        blended together in stainless steel vats.
      </li>
      <li class="about-modal__item">
        The mix is homogenised to create a consistent texture.
      </li>
      <li class="about-modal__item">
        The mix is pasteurised by heating at 82-85°C for 15 seconds then cooled
        to destroy bacteria.
      </li>
      <li class="about-modal__item">
        The mix is left alone for 2-24 hours so fat globules solidify and
        viscosity increases. Flavours or colourings are added.
      </li>
      <li class="about-modal__item">
        The mix is frozen (at about -7°C) and beaten (or ‘agitated’). This adds
        air to the mix.
      </li>
      <li class="about-modal__item">
        The ice cream is moulded, packaged and frozen at around -25°C to allow
        it to harden.
      </li>
    </ol>
  </div>
</div>
