<!-- advantages -->
<section class="advantages">
  <div class="container">
    <h2>advantages title</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic recusandae
      placeat quia asperiores corporis animi dolores adipisci facere vel.
      Similique dolores quibusdam fugit, ipsam odio veniam beatae quaerat
      aliquam dolorum odit ipsa voluptatem ad nihil voluptas nisi nobis qui
      velit sint dolore saepe illum tempora. Dignissimos amet nam numquam,
      obcaecati ipsa iusto eius aut consequuntur! Eveniet fugit adipisci, quia
      cupiditate illo pariatur doloribus at consequatur voluptatem, blanditiis a
      earum totam labore dolores iure nesciunt, itaque enim voluptates ipsum sit
      quae magni eligendi perspiciatis? Aliquid quasi alias quibusdam molestiae
      exercitationem similique optio necessitatibus vel numquam cum cumque
      consectetur, facilis quam dicta sunt maxime odio, reiciendis recusandae
      illo aut deleniti assumenda labore. Pariatur natus mollitia inventore modi
      tempora rerum iusto optio consectetur beatae doloremque repellat
      excepturi, nesciunt quaerat a sint, ipsum veniam cum voluptate enim unde
      dolorum facere non asperiores. Porro adipisci a, quas repudiandae,
      corrupti dicta eaque ducimus culpa voluptate praesentium ex beatae
      assumenda, et iure voluptatum laboriosam molestiae voluptates nobis vel
      sunt dolore eligendi. Alias pariatur aperiam repellat itaque rerum
      perspiciatis, error libero explicabo doloremque quasi nesciunt placeat
      omnis suscipit corporis officiis quidem adipisci. Molestiae maxime tenetur
      corrupti quasi sed nam officia perspiciatis blanditiis aut. Error soluta
      similique porro quam.
    </p>
  </div>
</section>
