<div class="backdrop is-hidden" data-contacts-modal>
  <div class="contacts-modal">
    <button class="contacts-modal__btn" data-contacts-modal-close></button>
    <div class="modal-wrap">
      <p class="modal-text__city">Chicago</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.2182143383607!2d-87.61635910297909!3d41.86665133042837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2bcdde2e3dbf%3A0x788a2cf03bc86a57!2sIce%20cream!5e0!3m2!1sru!2sno!4v1655051086428!5m2!1sru!2sno"
        height="200"
        style="border: 2px solid var(--cl-red)"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="map"
      ></iframe>
      <address>
        435 Michigan Ave Suite G, Chicago, IL 60611, Соединенные Штаты
      </address>
    </div>

    <div class="modal-wrap">
      <p class="modal-text__city">Los Angeles</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d26448.078205124035!2d-118.33785003152832!3d34.04362034069049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1slos%20angeles%20ice%20cream!5e0!3m2!1sru!2sno!4v1655051697752!5m2!1sru!2sno"
        height="200"
        style="border: 2px solid var(--cl-red)"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="map"
      ></iframe>
      <address>
        317 S Broadway, Los Angeles, CA 90013, Соединенные Штаты
      </address>
    </div>
    <div class="modal-wrap">
      <p class="modal-text__city">New York</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d6046.959219845152!2d-73.9805563!3d40.729471!3m2!1i1024!2i768!4f13.1!2m1!1snew%20york%20ice%20cream!5e0!3m2!1sru!2sno!4v1655052343865!5m2!1sru!2sno"
        height="200"
        style="border: 2px solid var(--cl-red)"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="map"
      ></iframe>
      <address>199 Avenue A, New York, NY 10009, Соединенные Штаты</address>
    </div>
  </div>
</div>
