<section class="contact" id="contacts">
  <div class="container-contacts">
    <h2 class="visually-hidden">Our contacts</h2>
    <ul class="card-list">
      <li class="card-list__item">
        <p class="card-list__title">Cafe</p>
        <p class="card-list__city">Chicago</p>
        <p class="card-list__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="graph">
          <li class="graph__item">
            <p class="graph__days">Monday - Friday</p>
            <p class="graph__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="graph__item">
            <p class="graph__days">Saturday - Sunday</p>
            <p class="graph__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts">
          <li class="contacts__item">
            <a href="tel:+610383766284" class="contacts__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@envato.com" class="contacts__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="card-list__item">
        <p class="card-list__title card-list__title--color">FoodTruck</p>
        <p class="card-list__city">Los Angeles</p>
        <p class="card-list__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="graph">
          <li class="graph__item">
            <p class="graph__days">Monday - Friday</p>
            <p class="graph__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="graph__item">
            <p class="graph__days">Saturday - Sunday</p>
            <p class="graph__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts">
          <li class="contacts__item">
            <a href="tel:+610383766284" class="contacts__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@envato.com" class="contacts__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="card-list__item">
        <p class="card-list__title">Cafe</p>
        <p class="card-list__city">New York</p>
        <p class="card-list__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="graph">
          <li class="graph__item">
            <p class="graph__days">Monday - Friday</p>
            <p class="graph__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="graph__item">
            <p class="graph__days">Saturday - Sunday</p>
            <p class="graph__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts">
          <li class="contacts__item">
            <a href="tel:+610383766284" class="contacts__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@envato.com" class="contacts__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="position">
      <ul class="btns-list">
        <li class="btns-list__item">
          <button
            type="button"
            class="btns-list__button"
            data-contacts-modal-open
          >
            <span class="btntext">Our Locations</span>
            <svg
              width="8"
              height="10"
              viewBox="0 0 8 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.61633 1L6.04401 5L1.61633 9"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </li>
        <li class="btns-list__item">
          <button
            type="button"
            class="btns-list__buttonwh"
            data-franchise-modal-open
          >
            <span class="btntext">Franchise</span>
            <svg
              width="8"
              height="10"
              viewBox="0 0 8 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.61633 1L6.04401 5L1.61633 9"
                stroke="#D41443"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
