<!-- customer-reviews -->
<section class="section section__customers" id="customers">
  <div class="container customers__rev">
    <h2 class="customers__title visually-hidden">Customers review</h2>
    <!-- Try to add slide -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <!-- add slide 1 -->

        <article class="swiper-slide">
          <h3 class="visually-hidden">Slide 1</h3>
          <picture class="customers__pictures">
            <source
              srcset="
                ./images/reviews/customer1-1x.png 1x,
                ./images/reviews/customer1-2x.png 2x
              "
            />
            <img src="./images/reviews/customer1-1x.png" alt="girl1" />
          </picture>
          <div class="customers__wrap">
            <div class="customers__view">
              <p class="customers__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="customers__name">Olivia, New York</p>
        </article>

        <!-- add slide 2 -->

        <article class="swiper-slide">
          <h3 class="visually-hidden">Slide 2</h3>

          <picture class="customers__pictures">
            <source
              srcset="
                ./images/reviews/customer2-1x.png 1x,
                ./images/reviews/customer2-2x.png 2x
              "
            />
            <img src="./images/reviews/customer2-1x.png" alt="girl1" />
          </picture>
          <div class="customers__wrap">
            <div class="customers__view">
              <p class="customers__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="customers__name">Christina, Chicago</p>
        </article>

        <!-- add slide 3 -->

        <article class="swiper-slide">
          <h3 class="visually-hidden">Slide 3</h3>
          <picture class="customers__pictures">
            <source
              srcset="
                ./images/reviews/customer3-1x.png 1x,
                ./images/reviews/customer3-2x.png 2x
              "
            />
            <img src="./images/reviews/customer3-1x.png" alt="girl1" />
          </picture>
          <div class="customers__wrap">
            <div class="customers__view">
              <p class="customers__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="customers__name">Emily, Los Angeles</p>
        </article>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
