<!-- footer -->
<footer class="footer">
  <div class="container footer__content-container">
    <div class="footer__wrapper">
      <div class="footer__thumb-left">
        <p class="footer__text">homemade ice cream made</p>
        <p class="footer__title-text">with passion</p>
      </div>
      <div class="footer__thumb-right">
        <ul class="footer__list-social list">
          <li class="footer__social">
            <a
              href="https://github.com/"
              class="social__item"
              target="_blank"
              rel="nofollow, noopener, noreferrer"
            >
              <svg class="social__icon">
                <use href="./images/symbol-defs.svg#icon-github"></use></svg
            ></a>
          </li>
          <li class="footer__social">
            <a
              href="https://telegram.com/"
              class="social__item"
              target="_blank"
              rel="nofollow, noopener, noreferrer"
            >
              <svg class="social__icon">
                <use href="./images/symbol-defs.svg#icon-telegram"></use></svg
            ></a>
          </li>
          <li class="footer__social">
            <a
              href="https://facebook.com/"
              class="social__item"
              target="_blank"
              rel="nofollow, noopener, noreferrer"
            >
              <svg class="social__icon">
                <use href="./images/symbol-defs.svg#icon-Group"></use></svg
            ></a>
          </li>
        </ul>
        <div class="footer__contact_wrapper">
          <p class="footer__coctact-text">Feel free to contact</p>
          <a class="footer__contact link" href="tel:+610383766284">
            +61 (0) 383 766 284</a
          >
        </div>
      </div>
    </div>

    <p class="footer__copyright">&copy; 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>

