<div class="backdrop is-hidden" data-franchise-modal>
  <div class="franchise-modal">
    <button class="franchise-modal__btn" data-franchise-modal-close></button>
    <form class="franchise-form">
      <p class="franchise-form__title">Want to buy a franchise?</p>
      <label class="franchise-form__label" for="franchise-username">Name</label>
      <input
        class="franchise-form__input"
        type="text"
        name="username"
        id="franchise-username"
        required
      />
      <label class="franchise-form__label" for="franchise-phonenumber"
        >Number</label
      >
      <input
        class="franchise-form__input"
        type="tel"
        name="phonenumber"
        id="franchise-phonenumber"
        required
      />

      <label class="franchise-form__label" for="franchise-email">Email</label>
      <input
        class="franchise-form__input"
        type="email"
        name="email"
        id="franchise-email"
        required
      />
      <label class="franchise-form__label" for="franchise-comments"
        >Comment</label
      >
      <textarea
        class="franchise-form__comments"
        id="franchise-comments"
        name="comments"
      ></textarea>

      <button class="franchise-form__button button" type="submit">Send</button>
    </form>
  </div>
</div>
