<!-- gallery -->
<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="list gallery__list">
      <li class="gallery__item item-one">
        <picture>
          <source
            srcset="
              ./images/gallery/galery-img1-1x.jpg 1x,
              ./images/gallery/galery-img1-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img1-tab-1x.jpg 1x,
              ./images/gallery/galery-img1-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img1-mob-1x.jpg 1x,
              ./images/gallery/galery-img1-mob-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./images/gallery/galery-img1-1x.jpg"
            class="gallery-photo"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item item-two">
        <picture>
          <source
            srcset="
              ./images/gallery/galery-img2-1x.jpg 1x,
              ./images/gallery/galery-img2-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img2-tab-1x.jpg 1x,
              ./images/gallery/galery-img2-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img2-mob-1x.jpg 1x,
              ./images/gallery/galery-img2-mob-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./images/gallery/galery-img2-1x.jpg"
            class="gallery-photo"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item item-three">
        <picture>
          <source
            srcset="
              ./images/gallery/galery-img3-1x.jpg 1x,
              ./images/gallery/galery-img3-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img3-tab-1x.jpg 1x,
              ./images/gallery/galery-img3-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img3-mob-1x.jpg 1x,
              ./images/gallery/galery-img3-mob-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./images/gallery/galery-img3-1x.jpg"
            class="gallery-photo"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item item-four">
        <picture>
          <source
            srcset="
              ./images/gallery/galery-img4-1x.jpg 1x,
              ./images/gallery/galery-img4-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img4-tab-1x.jpg 1x,
              ./images/gallery/galery-img4-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img4-mob-1x.jpg 1x,
              ./images/gallery/galery-img4-mob-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./images/gallery/galery-img4-1x.jpg"
            class="gallery-photo"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item item-five">
        <picture>
          <source
            srcset="
              ./images/gallery/galery-img5-1x.jpg 1x,
              ./images/gallery/galery-img5-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img5-tab-1x.jpg 1x,
              ./images/gallery/galery-img5-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img5-mob-1x.jpg 1x,
              ./images/gallery/galery-img5-mob-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./images/gallery/galery-img5-1x.jpg"
            class="gallery-photo"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item item-six">
        <picture>
          <source
            srcset="
              ./images/gallery/galery-img6-1x.jpg 1x,
              ./images/gallery/galery-img6-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img6-tab-1x.jpg 1x,
              ./images/gallery/galery-img6-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img6-mob-1x.jpg 1x,
              ./images/gallery/galery-img6-mob-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./images/gallery/galery-img6-1x.jpg"
            class="gallery-photo"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item item-seven">
        <picture>
          <source
            srcset="
              ./images/gallery/galery-img7-1x.jpg 1x,
              ./images/gallery/galery-img7-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img7-tab-1x.jpg 1x,
              ./images/gallery/galery-img7-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img7-mob-1x.jpg 1x,
              ./images/gallery/galery-img7-mob-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./images/gallery/galery-img7-1x.jpg"
            class="gallery-photo"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item item-eight">
        <picture>
          <source
            srcset="
              ./images/gallery/galery-img8-1x.jpg 1x,
              ./images/gallery/galery-img8-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img8-tab-1x.jpg 1x,
              ./images/gallery/galery-img8-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img8-mob-1x.jpg 1x,
              ./images/gallery/galery-img8-mob-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./images/gallery/galery-img8-1x.jpg"
            class="gallery-photo"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item item-nine">
        <picture>
          <source
            srcset="
              ./images/gallery/galery-img9-1x.jpg 1x,
              ./images/gallery/galery-img9-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img9-tab-1x.jpg 1x,
              ./images/gallery/galery-img9-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img9-mob-1x.jpg 1x,
              ./images/gallery/galery-img9-mob-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./images/gallery/galery-img9-1x.jpg"
            class="gallery-photo"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item item-ten">
        <picture>
          <source
            srcset="
              ./images/gallery/galery-img10-1x.png 1x,
              ./images/gallery/galery-img10-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img10-tab-1x.png 1x,
              ./images/gallery/galery-img10-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/galery-img10-mob-1x.png 1x,
              ./images/gallery/galery-img10-mob-2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./images/gallery/galery-img10-1x.png"
            class="gallery-photo"
            alt="ice cream"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
