<!-- header -->
<header class="header">
  <div class="header__container container">
    <a class="header__link link" href="index.html" class="logo">
    <!--  <img class="logo__img" src="../src/images/logo.svg" alt="ice cream logo" /> -->
      </svg>
      <p class="logo__lilte">icecream</p>
    </a>
    <nav class="nav">
        <ul class="nav__list list">
            <li class="nav__item"><a class="nav__link" href="index.html"></a>Home</li>
            <li class="nav__item"><a class="nav__link" href=""></a>About us</li>
            <li class="nav__item"><a class="nav__link" href="#about"></a>How it’s made?</li>
            <li class="nav__item"><a class="nav__link" href="#products"></a>Our products</li>
            <li class="nav__item"><a class="nav__link" href="#contacts"></a>Contact</li>
        </ul>
    </nav>
    <button class="mobile__button"></button>
    <button class="header__button">Buy now
        <svg class="header__icon">
            <use></use>
        </svg>
    </button>
    <div class="mobile-menu">
        <nav class="mobile-nav">
            <ul class="mobile-nav__list list">
            <li class="mobile-nav__item"><a class="mobile-nav__link" href="index.html"></a>Home</li>
            <li class="mobile-nav__item"><a class="mobile-nav__link" href=""></a>About us</li>
            <li class="mobile-nav__item"><a class="mobile-nav__link" href="#about"></a>How it’s made?</li>
            <li class="mobile-nav__item"><a class="mobile-nav__link" href="#products"></a>Our products</li>
            <li class="mobile-nav__item"><a class="mobile-nav__link" href="#contacts"></a>Contact</li>
        </ul>
        </nav>
    </div>
  </div>
</header>
