<!-- header -->
<header class="header" id="header">
  <div class="header__container container">
    <a class="logo link" href="#header">
      <img class="logo__img" src="./images/logo.svg" alt="ice cream logo" />
      icecream
    </a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nav__link link" href="#header">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#footer">About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#about">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#products">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <button
      class="mobile-button"
      aria-expanded="false"
      aria-controls="mobile-menu"
      data-menu-button
    ></button>
    <button class="header__button button" data-header-modal-open>
      Buy now
      <svg
        width="8"
        height="10"
        viewBox="0 0 8 10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.61633 1L6.04401 5L1.61633 9"
          stroke="#D41443"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>
    </button>
  </div>
</header>
