<div class="hero-backdrop backdrop is-hidden" data-hero-modal>
  <div class="hero-modal">
    <button
      class="hero-modal__btn"
      type="button"
      data-hero-modal-close
    ></button>
    <h2 class="hero-modal__title">bio eco</h2>
    <p class="hero-modal__text">
      Our production also focuses on another specific product organic ice-cream
      a wholesome product made using organic ingredients. All the main
      ingredients milk, vegetable fats, animals fats, sugar, and glucose come
      with a certificate of origin. The certifying body dealing with all our
      products is Bioagricoop, which monitors and controls each stage of the
      production process, from inspection of the incoming raw materials to
      despatch of the end product. Organic production uses ingredients from
      organic farming, to guarantee a 100% natural, uncontaminated product which
      undergoes rigorous testing to guarantee that only top-quality ingredients
      go into our ice-cream. Organic farming is based on the use of products and
      processes that are present in nature and therefore excludes any sort of
      chemical treatment. Nowadays, it is important to know the origin of the
      ingredients in the food we eat, and our ice-cream provides precisely this
      guarantee, plus excellent taste.
    </p>
  </div>
</div>
