<!-- Hero HTML -->
<section class="hero">
  <div class="hero__container container">
    <div class="hero__titlebox titlebox">
      <h1 class="hero__title">
        ice cream made with
        <span class="hero__title--accent">passion</span>
      </h1>
      <ul class="titlebox__list list">
        <li class="titlebox__item">
          <a class="titlebox__link link" href="#products">Products</a>
        </li>
        <li class="titlebox__item">
          <a class="titlebox__link link" href="#about">How it’s made?</a>
        </li>
      </ul>
      <div class="titlebox__bottom">
        <picture>
          <source
            srcset="
              ./images/hero/hero-milk-1x.png 1x,
              ./images/hero/hero-milk-2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/hero/hero-milk-tab-1x.png 1x,
              ./images/hero/hero-milk-tab-2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img
            class="titlebox__img"
            src="./images/hero/hero-milk-tab-1x.png"
            alt="jug of milk"
          />
        </picture>
        <div class="titlebox__description">
          <p class="titlebox__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="titlebox__button">
            <svg>
              <use></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <ul class="hero__stats hero-stats list">
      <li class="hero-stats__item">
        <p class="hero-stats__content">
          <span class="hero-stats__content--accent">16</span>cafes
        </p>
      </li>
      <li class="hero-stats__item">
        <p class="hero-stats__content">
          <span class="hero-stats__content--accent">23</span>food trucks
        </p>
      </li>
    </ul>
    <div class="circle"></div>
    <picture>
      <source
        srcset="
          ./images/hero/hero-ice-1x.png 1x,
          ./images/hero/hero-ice-2x.png 2x
        "
        media="(min-width: 1200px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/hero/hero-ice-tab-1x.png 1x,
          ./images/hero/hero-ice-tab-2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/hero/hero-ice-mob-1x.png 1x,
          ./images/hero/hero-ice-mob-2x.png 2x
        "
        media="(min-width: 320px)"
        type="image/png"
      />
      <img
        class="titlebox__img"
        src="./images/hero/hero-ice-mob-1x.png"
        alt="ice cream"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/hero/hero-girl-1x.png 1x,
          ./images/hero/hero-girl-2x.png 2x
        "
        media="(min-width: 1200px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/hero/hero-girl-tab-1x.png 1x,
          ./images/hero/hero-girl-tab-2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />
      <img
        class="titlebox__img"
        src="./images/hero/hero-girl-tab-1x.png"
        alt="girl with ice cream"
      />
    </picture>
  </div>
</section>
