<!-- Products -->
<!-- Products -->
<section>
  <p class="natural">100% natural</p>
  <h2 class="prod-title">products</h2>
  <div class="wrapper container">
    <ul class="list-item">
      <li class="ice-cream list">
        <h3 class="production">ice cream</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="button-arrow button">
          *
          <!-- <img
            src="./images/products/right-arrow.svg"
            alt=""
            class="arrow-icon"
          /> -->
          <!-- <svg class="arrow-icon" width="10px" height="10px">
            <use href="./images/products/right-arrow.svg"></use>
          </svg> -->
        </button>
      </li>
      <li class="ice-coffe list">
        <h3 class="production">ice coffee</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="button-arrow">*</button>
      </li>
      <li class="milkshakes list">
        <h3 class="production">milkshakes</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="button-arrow">*</button>
      </li>
    </ul>
  </div>
</section>
