<!-- Products -->

<section class="product-section" id="products">
  <div class="container">
    <p class="natural">100% natural</p>
    <h2 class="prod-title">products</h2>

    <ul class="list-item">
      <li class="ice-item cream list">
        <h3 class="production">ice cream</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="button-arrow button">
          <svg class="arrow-logo" width="12px" height="12px">
            <use href="./images/symbol-defs.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="ice-item coffe list">
        <h3 class="production">ice coffee</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="button-arrow">
          <svg class="arrow-logo" width="12px" height="12px">
            <use href="./images/symbol-defs.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="ice-item milkshakes list">
        <h3 class="production">milkshakes</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="button-arrow">
          <svg class="arrow-logo" width="12px" height="12px">
            <use href="./images/symbol-defs.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
