// button scss 
.button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 44px;
    border-radius: 22px;

    /*New Branch*/
    border: transparent;

    background-color: var(--bg-light);
    color: var(--cl-red);
    font-weight: 700;

    &:hover,
    &:active,
    &:focus {
        background-color: var(--bg-hover);
    }

    &--accent {
        background-color: var(--bg-red);
        color: var(--cl-light);

        &:hover,
        &:active,
        &:focus {
            background-color: var(--bg-accent-hover);
        }
    }

}