// Customer reviews scss

.section__customers {
  padding-top: 80px;
  padding-bottom: 48px;

  @media screen and(min-width:768px) {
    padding-bottom: 80px;
  }

  @media screen and(min-width:1280px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.customers__wrap {
  position: relative;
  width: 280px;
  height: 308px;
  margin: auto;
  padding: 43px 50px 26px;
  text-align: center;
  background: #fafafa;
  margin-bottom: 50px;

  @media screen and(min-width:768px) {
    width: 604px;
    height: 164px;
    padding-top: 37px;
    padding-bottom: 44px;
    padding-left: 51px;
    padding-right: 55px;
  }

  @media screen and(min-width:1280px) {
    width: 1034px;
    height: 138px;
    padding-top: 32px;
    padding-bottom: 31px;
    padding-left: 106px;
    padding-right: 106px;
  }
}

.customers__wrap::before {
  content: '';
  display: block;
  position: absolute;
  width: 54px;
  height: 40px;
  top: 30px;
  left: 50px;

  background-image: url(../images/reviews/lapky.png);

  @media screen and(min-width:768px) {
    top: 20px;
    left: 80px;
  }

  @media screen and(min-width:1280px) {
    top: 18px;
    left: 105px;
  }
}

.customers__wrap::after {
  content: '. . .';
  display: block;
  position: absolute;
  width: 100%;
  bottom: -40px;
  left: 0;
  font-size: 32px;
  text-align: center;
  color: #c7133e;
}

.customers__view {
  padding-left: 15px;
  padding-right: 8px;
  padding-bottom: 9px;
  background: repeating-linear-gradient(
    #fafafa,
    #fafafa 30px,
    #e1e1e1 30px,
    #e1e1e1 31px
  );

  @media screen and (min-width: 768px) {
    padding-left: 50px;
    padding-right: 55px;
    padding-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 36px;
    padding-right: 35px;
    padding-bottom: 8px;
  }
}

.customers__text {
  position: relative;
  z-index: 10;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  letter-spacing: 0.04em;

  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 2.16;
  }

  @media screen and(min-width:1280px) {
    font-size: 16px;
    line-height: 1.86;
  }
}

.customers__pictures {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;

  @media screen and(min-width:768px) {
    margin-bottom: 20px;
  }

  @media screen and(min-width:1280px) {
    margin-bottom: 16px;
  }
}

.customers__name {
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  color: var(--main-black-color);

  padding-bottom: 36px;

  @media screen and(min-width:768px) {
    padding-bottom: 52px;
    font-size: 16px;
    line-height: 1.86;
  }

  @media screen and(min-width:1280px) {
    padding-bottom: 52px;
    font-size: 20px;
    line-height: 1.86;
  }
}

// Slider Swiper

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background-color: #d9d9d9;
  width: 12px;
  height: 12px;
  margin-bottom: 40px;
}

.swiper-pagination-bullet-active {
  background-image: url('../images/reviews/house.svg');
  background-color: transparent;
  border-radius: unset;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 9px);
}
