// Footer
.footer {
    position: relative;
    background-color: var(--bg-lightpink)
  }
  
  .footer__content-container {
    padding-top: 113px;
    padding-bottom: 25px;
  
    @media screen and (min-width: 768px) {
      padding-top: 158px;
      padding-bottom: 18px;
      padding-left: 36px;
      padding-right: 36px;
    }
  
    @media screen and (min-width: 1280px) {
      padding-top: 165px;
      padding-bottom: 10px;
      padding-left: 115px;
      padding-right: 115px;
    }
  }
  
  .footer::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    border: 1px solid #E1E1E1;
    bottom: 89px;
    left: 0;
  
    @media screen and (min-width: 768px) {
      bottom: 73px;
    }
  
    @media screen and (min-width: 1280px) {
      bottom: 45px;
    }
  }
  
  .footer__vrapper {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }
  
  .footer__thumb-left {
    @media screen and (max-width: 767px) {
      margin-bottom: 43px;
    }
  
    @media screen and (min-width: 768px) {
      margin-bottom: 120px;
    }
  
    @media screen and (min-width: 1280px) {
      margin-bottom: 106px;
    }
  }
  
  .footer__text {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    color: pink;
    font-size: 18px;
    line-height: calc(21 / 18);
    margin-bottom: 17px;
    width: 234px;
  
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: calc(30 / 26);
      margin-bottom: 16px;
    }
  
    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: calc(34 / 30);
      margin-bottom: 15px;
      width: 100%;
    }
  }
  
  .footer__title-text {
    font-family: var(--font-secondary);
    font-size: 34px;
    line-height: calc(39 / 34);
    text-transform: uppercase;
    color: red;
    width: 200px;
  
    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: calc(55 / 48);
      letter-spacing: 0.06em;
    }
  
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: calc(66 / 58);
      letter-spacing: 0.06em;
      width: 100%;
    }
  }
  
  .footer__list-social {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 46px;
  }
  .footer__social:not(:last-child) {
    margin-right: 28px;
  }
  
  .social__item {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .social__icon {
    width: 34px;
    height: 34px;
  
    fill: pink;
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  
    &:hover,
    &:focus {
      fill: red;
      border-radius: 50px;
    }
  }
  
  .footer__contact_wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 65px;
    font-weight: bold;
    font-size: 12px;
    line-height: calc(22 / 12);
  
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: calc(26 / 14);
    }
  
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: calc(30 / 16);
      letter-spacing: 0.02em;
    }
  }
  
  .footer__coctact-text {
    color: black;
  }
  
  .footer__contact {
    color: red;
  }
  
  .footer__copyright {
    font-weight: bold;
    letter-spacing: 0.02em;
    color: grey;
    line-height: calc(21 / 14);
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (min-width: 768px) {
      line-height: calc(26 / 14);
      width: 100%;
      text-align: center;
    }
  
    @media screen and (min-width: 1280px) {
      line-height: calc(26 / 14);
      width: 100%;
      text-align: center;
    }
  }
