// products sass

.wrapper-container {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.product-section {
  padding-top: 40px;
  padding-bottom: 60px;
  @media screen and (min-width: 1280px) {
    padding-top: 56px;
  }
}

.natural {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  margin-bottom: 15px;

  text-align: center;
  text-transform: uppercase;

  color: var(--cl-pink);
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 18px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 16px;
  }
}

.main-title {
  margin-bottom: 150px;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 70px;
  }
}

.prod-title {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--cl-red);
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.13;
    margin-bottom: 32px;
  }
}

.production {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  margin-top: 20px;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--cl-light);
  @media screen and (min-width: 768px) {
    // margin-top: 32px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    // margin-top: 65px;
  }
}

.production::after {
  content: '';
  width: 26px;
  display: block;
  border-bottom: 6px;
  border-style: dotted;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 32px;
  margin-bottom: 32px;
}

.description {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 32px;

  text-align: center;
  letter-spacing: 0.04em;

  color: var(--cl-light);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.78;
  }
}

.ice-cream,
.ice-coffe,
.milkshakes {
  padding-top: 140px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
  }
}

.ice-cream {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  background: var(--bg-pink);
  border-radius: 24px;
  margin-top: 160px;
  @media screen and (min-width: 768px) {
    margin-left: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 32px;
    margin-top: 160px;
    width: 329px;
  }
}

.ice-cream::before {
  display: block;

  width: 280px;
  height: 280px;
  position: absolute;
  content: '';
  background-image: url(../images/products/icecream1-mob-1x.png);
  background-repeat: no-repeat;
  top: 0;

  transform: translateY(-65%);
  @media screen and (min-width: 768px) {
    background-image: url(../images/products/icecream1-tab-1x.png);
    width: 224px;
    height: 224px;
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/products/icecream1-1x.png);
    width: 394px;
    height: 394px;
  }
}

.ice-coffe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--bg-beige);
  border-radius: 24px;
  margin-top: 160px;
  @media screen and (min-width: 768px) {
    margin-left: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 32px;
    margin-top: 160px;
    width: 329px;
  }
}
.ice-coffe::before {
  position: absolute;
  display: block;
  width: 280px;
  height: 280px;
  position: absolute;
  content: '';
  background-image: url(../images/products/icecream2-mob-1x.png);
  background-repeat: no-repeat;
  top: 0;

  transform: translateY(-65%);
  @media screen and (min-width: 768px) {
    background-image: url(../images/products/icecream2-tab-1x.png);
    width: 224px;
    height: 224px;
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/products/icecream2-1x.png);
    width: 394px;
    height: 394px;
  }
}

.milkshakes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--bg-green);
  border-radius: 24px;
  margin-top: 160px;
  @media screen and (min-width: 768px) {
    margin-left: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 32px;
    margin-top: 160px;
    width: 329px;
  }
}

.milkshakes::before {
  position: absolute;
  display: block;
  width: 280px;
  height: 280px;
  position: absolute;
  content: '';
  background-image: url(../images/products/icecream3-mob-1x.png);
  background-repeat: no-repeat;

  top: 0;

  transform: translateY(-65%);
  @media screen and (min-width: 768px) {
    background-image: url(../images/products/icecream3-tab-1x.png);
    width: 224px;
    height: 224px;
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/products/icecream3-1x.png);
    width: 394px;
    height: 394px;
  }
}

.button-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);

  // background-image: url(../images/products/right-arrow.svg);
  // background-repeat: no-repeat;
  // background-size: 30%;
  // background-position: center;
}

.button-arrow:hover,
.button-arrow:focus {
  background-color: green;
}

// .arrow-icon {
//   display: block;
//   color: #d41443;
// }

.list-item {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: -16px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: -32px;
  }
}
